/* Add CSS Styling */
.odd {
    background-color: #FFA6A7;
    color: #000000;
    font-family: Verdana, Dejavu Sans, sans-serif;
}

.lanjiao {
    color: blue;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

.fouth {
    background-color: lightgreen;
    font-weight: bold;
}